#book1{
    letter-spacing:0.5ch;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 4px;
    text-align: center;
}
#book2{
    font-size: 1.2cm;
    font-style:normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 0 rgb(0 0 0 / 50%);
    text-align: center;
}
#book3{
    font-size:0.5cm;
    font-weight: 400;
    text-align: center;
}
#ticbut{
    background-color: rgba(197, 15, 15, 0.996);
    color: white;
    font-weight: 700;
    height: 6ch;
    border-radius: 0.5ch;
    text-align: center;
    align-items: center;
    margin-left: 25%;
}
#bookback{
    background-color:#f6f6f6;
}
#tripcolor{
    color: black;
    font-weight: 500;
}