
#gifback{
    background-image:url("../asests/seat3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 91.5vh;
    opacity: 0.3;
    position: absolute;
   
}
#vedio1{
    position: absolute;
    opacity: 1;
    margin-left: 7%;
    margin-right: 9%;
}
#safesen{
   
text-align: center;
}
.seattop22{
    font-size:0.5cm;
}
#Safty{

    font-size: 0.6cm;
    text-align: center;
    text-decoration:underline;

}
#Safty7{
    text-align: center;
    color: grey;
}